<!DOCTYPE html>
<htmlcopy>
    <head>
       <title>Form Test Index</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
       <style media="screen">
       .container{
           margin-top: 50px;
           background: lightgrey;
           padding: 50px;
           padding-top: 25px;
           height: 450px;
       }
       </style>
       <script type="text/javascript">
       $(document).ready(function(){
          $('select').formSelect();
        });
       </script>
    </head>
    <body>
        <div class="container">
            <h4>Whas yo name?</h1>
           <form action ='users' method='post' class="col s12">
               <div class="row">
                 <div class="input-field col s12">
                       <label for="Name" >First Name</label>
                       <input id= "Name" type="text"  name ="name" value ="">
                 </div>
                 <div class=".input-field col s12">
                 <label>Dojo Location</label>
                     <select name='loc' class="browser-default">
                       <option disabled selected>Choose your option</option>
                       <option value="sanjose">San Jose</option>
                       <option value="seattle">Seattle</option>
                       <option value="mars">Mars</option>
                     </select>
                 <label>Favorite Language</label>
                     <select name='language' class="browser-default">
                       <option disabled selected>Choose your option</option>
                       <option value="python">Python</option>
                       <option value="javascript">Javascript</option>
                       <option value="english">English</option>
                     </select>
                 </div>
                 <div class="col s12">
                    Message: <textarea name='message'></textarea>
                    <button class="btn waves-effect waves-light" value='Submit' type="submit" name="action">Submit
                     </button>
                 </div>

           </form>
         </div>
    </body>
</html>
